<div class="app-menu navbar-menu">
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">

                <li class="menu-title"><span data-key="t-data">Menu</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link <%= controller === 'dashboard.index' ? 'active' : '' %>" href="/dashboard">
                        <i class="bx bxs-dashboard"></i> <span data-key="t-data-siswa">Dashboard</span>
                    </a>
                </li>

                <li class="menu-title"><span data-key="t-data">Data</span></li>

                <li class="nav-item" <%= user.role !== 'webmaster' ? 'hidden' : '' %>>
                    <a class="nav-link menu-link <%= controller === 'users.index' ? 'active' : '' %>" href="/pengguna">
                        <i class="mdi mdi-account-key"></i> <span data-key="t-data-siswa">Pengguna</span>
                    </a>
                </li>

                <li class="nav-item" <%= user.role !== 'webmaster' && user.role !== 'admin' ? 'hidden' : '' %>>
                    <a class="nav-link menu-link <%= controller === 'data_siswa.index' ? 'active' : '' %>" href="/data-siswa">
                        <i class="mdi mdi-account-group-outline"></i> <span data-key="t-data-siswa">Data Siswa</span>
                    </a>
                </li>
                
                <li class="menu-title" <%= user.role !== 'webmaster' && user.role !== 'admin' && user.role !== 'guru' ? 'hidden' : '' %>><span data-key="t-absensi">Absensi</span></li>

                <li class="nav-item" <%= user.role !== 'webmaster' && user.role !== 'admin' && user.role !== 'guru' ? 'hidden' : '' %>>
                    <a class="nav-link menu-link <%= controller === 'log_absensi.index' ? 'active' : '' %>" href="/log-absensi">
                        <i class="mdi mdi-book-clock-outline"></i> <span data-key="t-log-absensi">Log Absensi</span>
                    </a>
                </li>
                
                <li class="menu-title" <%= user.role !== 'webmaster' ? 'hidden' : '' %>><span data-key="t-absensi">Pengaturan</span></li>

                <li class="nav-item" <%= user.role !== 'webmaster' ? 'hidden' : '' %>>
                    <a class="nav-link menu-link <%= controller === 'whatsapp.index' ? 'active' : '' %>" href="/whatsapp">
                        <i class="mdi mdi-whatsapp"></i> <span data-key="t-whatsapp">Whatsapp</span>
                    </a>
                </li>

                <li class="nav-item" <%= user.role !== 'webmaster' ? 'hidden' : '' %>>
                    <a class="nav-link menu-link <%= controller === 'api_key.index' ? 'active' : '' %>" href="/api-key">
                        <i class="mdi mdi-key-chain"></i> <span data-key="t-key-api">API Key</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="sidebar-background"></div>
</div>